.cart-header {
    display: grid;
    grid-template-columns: 150px minmax(0px, 180px);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 500;
    /* min-width: -webkit-fill-available;
    min-width: fit-content; */
    font-size: 0.8em;
}

.cart-header :nth-child(1) {
    grid-row: 1/4;
    grid-column: 1/2;
    max-width: 150px;
}

.cart-header :nth-child(2) {
    grid-row: 1/2;
    grid-column: 2/3;
}

.cart-header :nth-child(3) {
    grid-row: 2/3;
    grid-column: 2/3;
}

.cart-header :nth-child(4) {
    grid-row: 3/4;
    grid-column: 2/3;
}

.cart-header :nth-child(5) {
    grid-row: 4/5;
    grid-column: 2/3;
}

.cart-header :nth-child(6) {
    grid-row: 4/5;
    grid-column: 0/1;
    background-color: red;
    width: 100%;
    text-align: center;
    color: white;
    cursor: pointer;
}

.cart-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cart {
    margin: 20px;
}

.cart-food-image {
    width: 150px;
    height: 116.66px;
    border-radius: 5px;

}

.checkout-btn {
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: var(--orange);
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}

.conditional-signin {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
    color: var(--green);
}

.cart-header .remove-from-cart {
    width: 150px;
}

.cart-header .cart-image-container {
    max-width: 150px;
}

@media screen and (min-width: 560px) {
    .cart {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (min-width: 890px) {
    .cart {
        margin-left: 70px;
        margin-right: 70px;
    }
}