.sidebar {
    margin: 20px;
}

.sidebar-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.sidebar .hr-1 {
    margin-bottom: 20px;
}

.sidebar .hr-2 {
    margin-top: 20px;
}

.sidebar > * {
    text-decoration: none;
    color: inherit;

}

.sidebar-menu.active {
    background-color: #f0eeee;
    border: 1px solid var(--orange);
}

.sidebar-menu {
    padding: 15px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.sidebar-menu.one {
    margin-bottom: 10px;
}

@media screen and (min-width: 560px) {
    .sidebar {
        margin-left: 40px;
        margin-right: 40px;
    }
}

@media screen and (min-width: 890px) {
    .sidebar {
        margin-left: 70px;
        margin-right: 70px;
    }
}