.navbar .logo {
    width: 100px;
}

.navbar {
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.btn.signin {
    background-color: var(--green);
    border-color: var(--green);
    cursor: pointer;
}

.right-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.order-logout {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.order, .logout {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 0.7rem
}

.order:hover, .logout:hover {
    color: var(--green);
    font-size: 0.9rem;
    font-weight: 700;
}

.profile-section {
    display: none;
    text-align: center;
    border: 1px solid var(--orange);
    padding: 6px 6px 6px 6px;
    border-radius: 5px;
    background-color: var(--light-ash);
    position: absolute;
    right: 20px;
    top: 55px;
    cursor: pointer;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 10px;
}

.order-image, .logout-image {
    width: 20px;
}

.profile-container:hover .profile-section
 {
    display: flex;
    flex-direction: column;
}

.profile-icon {
    cursor: pointer;
}

.cart-counter {
    transform: translate(20px, -20px);
    position: absolute;
    background-color: var(--green);
    color: white;
    min-width: 20px;
    min-height: 20px;
    border-radius: 50%;
    font-size: 0.8rem;
    text-align: center;
    padding: 2px 4px;
}