.categories {
    margin-top: 30px;
    margin-bottom: 30px;
}

.categories .categories-subheading {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1em;
}

.food-container {
    background-color: rgba(0, 0, 0, .05);
    width: fit-content;
    border-radius: 10px;
}

.food-container.active {
    border: 4px solid var(--orange);
    transition: 0.2s;
}

.food-container h3 {
    padding-left: 22px;
}

.food-container p {
    padding-left: 22px;
    color: var(--orange);
    margin-bottom: 10px;
}

.food-categories {
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    cursor: pointer;
    margin-left: 20px;
}

.food-categories img {
    width: 180px;
}

.food-categories::-webkit-scrollbar {
    display: none;
}

.category-food-name {
    font-size: 1em;
}

.category-food-footer {
    font-size: 0.9em;
}

.category-text {
    margin-left: 20px;
    margin-right: 20px;
}

@media screen and (min-width: 560px) {
    .category-text {
        margin-left: 40px;
        margin-right: 40px;
    }

    .food-categories img {
        width: 220px;
    }

    .food-categories {
        margin-left: 40px;

    }
}

@media screen and (min-width: 890px) {
    .category-text {
        margin-left: 70px;
        margin-right: 70px;
    }

    .food-categories {
        margin-left: 70px;

    }
}