.categories {
    margin: 30px 20px;
}

.categories .categories-subheading {
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 1rem;
}

.food-container {
    background-color: rgba(0, 0, 0, .05);
    width: fit-content;
    border-radius: 10px;
}

.food-container.active {
    border: 4px solid var(--orange);
    transition: 0.2s;
}

.food-container h3 {
    padding-left: 22px;
}

.food-container p {
    padding-left: 22px;
    color: var(--orange);
    margin-bottom: 10px;
}

.food-categories {
    display: flex;
    gap: 30px;
    overflow-x: scroll;
    cursor: pointer;
}

.food-categories img {
    width: 180px;
}

.food-categories::-webkit-scrollbar {
    display: none;
}

.category-food-name {
    font-size: 1rem;
}

.category-food-footer {
    font-size: 0.9rem;
}