.navbar .logo {
    width: 100px;
}

.navbar {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 560px) {
    .navbar {
        margin-left: 70px;
        margin-right: 70px;
    }
}

@media screen and (min-width: 560px) {
    .navbar {
        margin-left: 70px;
        margin-right: 70px;
    }
}